* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #1d1e1d;
}


::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar {
    width: 6px;
    background: white;
}
::-webkit-scrollbar-thumb {
    background: rgb(127, 240, 255);
}